{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "beforeEach": true,
    "__dirname": true,
    "describe": true,
    "it": true
  }
}